*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: gray;
}

body header{
  color: white;
  font-size: 35px;
  text-shadow: 5px 10px 4px lime;
  text-align: center;
  padding: 35px;
  font-weight: bold;
  margin-bottom: 16px;
}

.Menu-principal{
  margin-bottom: 40px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding: 10px 0;
  background-color: silver;
}

.Menu-principal .contenedor ul{
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

.Menu-principal .contenedor ul li{
  display: inline-block;
}

.Menu-principal .contenedor ul li a{
  display: inline-block;
  padding: 30px 20px;
  text-decoration: none;
  color: black;
}

.Menu-principal .contenedor ul li a:hover{
 color: #8b919c;
}

.contenedores p{
  color: black;
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 35px;
}

.contenedores{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
  margin-bottom: 20px;
}

body .contenedor1{
  width: 48%;
}

body .contenedor1 img{
  width: 100%;
}

body .contenedor2{
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  align-items: center;
}

body .contenedor2 img{
  width: 100%;
}

/* PIE DE PÁGINAS */
.top-footer{
  background-color: #193441;
  height: 25px;
}

.center-footer{
  background-color: #152d37;
}

.center-footer .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-footer .contenedor .widget{
  margin-top: 10px;
}

.center-footer .contenedor .widget img{
  height: 50px;
}

.center-footer .contenedor .widget a:hover img{
    height: 70px;
}

.bottom-footer{
  background-color: #193441;
  height: 25px;
}

.bottom-footer p{
  font-size: 16px;
  color: #7a7a7a;
  text-align: center;
}
/* FIN PIE DE PÁGINAS */

@media all and (max-width:1344px){

  .contenedores p{
    text-align: justify;
    font-size: 21px;
    font-weight: normal;
  }

  body .contenedor1{
    width: 100%;
    margin-bottom: 20px;
  }

  body .contenedor2{
    width: 100%;
  }

  .bottom-footer p{
    margin-bottom: 30px;
  }
}
