*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: gray;
}

body header{
  color: white;
  font-size: 35px;
  text-shadow: 5px 10px 4px green;
  text-align: center;
  padding: 35px;
  font-weight: bold;
  margin-bottom: 16px;
}

.Menu-principal{
  margin-bottom: 40px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding: 10px 0;
  background-color: silver;
}

.Menu-principal .contenedor ul{
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

.Menu-principal .contenedor ul li{
  display: inline-block;
}

.Menu-principal .contenedor ul li a{
  display: inline-block;
  padding: 30px 20px;
  text-decoration: none;
  color: black;
}

.Menu-principal .contenedor ul li a:hover{
 color: #8b919c;
}

.contenedores{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

body .contenedor1{
  width: 48%;
  padding-right: 5px;
  border: 2px solid grey;
  background-color: white;
}

body .contenedor1 ul{
  margin-left: 8px;
}

body .primero{
  color: blue;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

body .primero1{
  color: black;
  text-align: justify;
  padding-bottom: 20px;
}

body .segundo{
  color: blue;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

body .segundo1{
  color: black;
  text-align: justify;
  padding-bottom: 20px;
}

body .tercero{
  color: blue;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

body .tercero1{
  color: black;
  text-align: justify;
  padding-bottom: 20px;
}

body .cuarto{
  color: blue;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

body .cuarto1{
  color: black;
  text-align: justify;
  padding-bottom: 20px;
}

.contenedores .contenedor1 ul{
  list-style: none;
}

body .capa{
  width: 48%;
  margin-bottom: 20px;
}

body .capa img{
  width: 100%;
  border: 2px solid grey;
  background-color: white;
}

@media all and (max-width:1344px){
  .contenedores .capa{
    order:1;
    width: 100%;
  }

  .contenedores .contenedor1{
    order:2;
    width: 80%;
  }

  .bottom-footer{
    margin-bottom: 30px;
  }
}

/* PIE DE PÁGINAS */
.top-footer{
  background-color: #193441;
  height: 25px;
}

.center-footer{
  background-color: #152d37;
}

.center-footer .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-footer .contenedor .widget{
  margin-top: 10px;
}

.center-footer .contenedor .widget img{
  height: 50px;
}

.center-footer .contenedor .widget a:hover img{
    height: 70px;
}

.bottom-footer{
  background-color: #193441;
  height: 25px;
}

.bottom-footer p{
  font-size: 16px;
  color: #7a7a7a;
  text-align: center;
}
/* FIN PIE DE PÁGINAS */
