*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: gray;
}

/* ENCABEZADO */

header{
  width: 100%;
}

header nav{
  width: 100%;
  background: #024959;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu_bar{
  display: none;
}

header nav ul{
  overflow: hidden;
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

header nav ul li a:hover{
  background: #037E8C;
}

header .title{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-top: 22px;
  margin-bottom: 8px;
  text-shadow: 3px 3px 2px white;
}

@media all and (max-width:768px){

  header .title{
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  body header nav{
  width: 90%;
  height: 100%;
  left: -100%;
  margin: 0;
  top: 8%;
  position: fixed;
  display: block;
  justify-content: flex-start;
}
body header nav ul li{
  display: block;
  float: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.menu_bar{
  display:block;
  width: 100%;
  background: #ccc;
  position:fixed;
  top: 0%;
}

.menu_bar .bt-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: #024959;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  order:1;
  align-items: center;
}

.menu_bar span{
  /* float: right; */
  display: flex;
  flex-direction: row;
  font-size: 40px;
  order: 2;
}
}

/* FIN DEL ENCABEZADO */

.CFoto{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.boton1{
  font-size: 20px;
  padding: 50px;
  margin-right: 20px;
}

.boton1:hover{
  background: rgba(0, 0, 0, 0.5);
}

#slider{
  height: 500px;
}

.boton2{
  font-size: 20px;
  padding: 50px;
  margin-left: 20px;
}

.boton2:hover{
  background: rgba(0, 0, 0, 0.5);
}

@media all and (max-width:768px){
  #slider{
    width: 90%;
    height: auto;
    order:3;
  }

  .boton1{
    order:1;
    padding: 20px 40px;
    margin-bottom: 20px;
  }

  .boton2{
    order:2;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
}

/* PIE DE PÁGINAS */
.top-footer{
  background-color: #193441;
  height: 25px;
}

.center-footer{
  background-color: #152d37;
}

.center-footer .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-footer .contenedor .widget{
  margin-top: 10px;
}

.center-footer .contenedor .widget img{
  height: 50px;
}

.center-footer .contenedor .widget a:hover img{
    height: 70px;
}

.bottom-footer{
  background-color: #193441;
  height: 25px;
}

.bottom-footer p{
  font-size: 16px;
  color: #7a7a7a;
  text-align: center;
}

/* FIN PIE DE PÁGINAS */
