*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: gray;
}

body header{
  color: white;
  font-size: 35px;
  text-shadow: 5px 10px 4px darkslategray;
  text-align: center;
  padding: 35px;
  font-weight: bold;
  margin-bottom: 16px;
}

.Menu-principal{
  margin-bottom: 40px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding: 10px 0;
  background-color: silver;
}

.Menu-principal .contenedor ul{
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

.Menu-principal .contenedor ul li{
  display: inline-block;
}

.Menu-principal .contenedor ul li a{
  display: inline-block;
  padding: 30px 20px;
  text-decoration: none;
  color: #363940;
}

.Menu-principal .contenedor ul li a:hover{
 color: #8b919c;
}

body .contenedor1{
  float: left;
  width: 48%;
}

body .contenedor1 img{
  width: 100%;
}

body .contenedor2{
  float: right;
  width: 48%;
}

body .contenedor2 img{
  width: 100%;
}
