*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: gray;
}

body header{
  width: 100%;
}

body header h1{
  color: white;
  font-size: 38px;
  text-shadow: 5px 10px 4px navy;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Menu-principal{
  margin-bottom: 30px;
  text-align: center;
  background-color: silver;
}

.Menu-principal .contenedor ul{
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

.Menu-principal .contenedor ul li{
  display: inline-block;
}

.Menu-principal .contenedor ul li a{
  display: inline-block;
  padding: 30px 20px;
  text-decoration: none;
  color: black;
}

.Menu-principal .contenedor ul li a:hover{
 color: #8b919c;
}

.blog{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: silver;
  margin-bottom: 20px;
}

.fortalezas{
  width: 30%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body .fortalezas table{
  border: 1px solid white;
}

body .fortalezas table tr th{
  border: 1px solid white;
  background: blue;
  font-size: 40px;
}

body .fortalezas table tr td{
  border: 1px solid gold;
  font-size: 20px;
}

.fortalezas{
  order:1;
}

.debilidades{
  width: 30%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body .debilidades table{
  border: 1px solid white;
}

body .debilidades table tr th{
  border: 1px solid white;
  background: blue;
  font-size: 35px;
}

body .debilidades table tr td{
  border: 1px solid gold;
  font-size: 20px;
}

.debilidades{
  order:3;
}

.foto{
  width: 40%;
  background-color: silver;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.foto img{
  width: 200px;
}

.foto{
  order:2;
}

@media all and (max-width:1344px){
  .foto{
    order:1;
    width: 100%;
  }
  .fortalezas{
    width: 50%;
    order:2;
    align-items: flex-start;
  }
  .debilidades{
    width: 50%;
    order:3;
    align-items: flex-start;
  }
}

/* PIE DE PÁGINAS */
.top-footer{
  background-color: #193441;
  height: 25px;
}

.center-footer{
  background-color: #152d37;
}

.center-footer .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-footer .contenedor .widget{
  margin-top: 10px;
}

.center-footer .contenedor .widget img{
  height: 50px;
}

.center-footer .contenedor .widget a:hover img{
    height: 70px;
}

.bottom-footer{
  background-color: #193441;
  height: 25px;
}

.bottom-footer p{
  font-size: 16px;
  color: #7a7a7a;
  text-align: center;
}
/* FIN PIE DE PÁGINAS */
